*{padding: 0; margin: 0; box-sizing: border-box;}
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Kalam', cursive;*/

header{
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('img15.jpeg');
          /* background-size: cover; */
          color: white;
} 
nav{
  width: 100%;
  height: 100px;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 70px;
  font-family:'Poppins', sans-serif;
}   
.logo{
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: bold;
}   
.menu a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 0.5rem 1rem;
}
.menu a:nth-child(4){
    background: rgb(32, 165, 72);
    border-radius: 9px;
    margin: 0 1rem;
}
.menu i{
  font-size: 1.8rem;
  margin:0 0.5rem;
  cursor: pointer;
}
.menu a:hover{
  background: rgb(32, 165, 72);
  border-radius: 9px;
}
.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 150px;
}
.left h2{
  font-family:'Poppins', sans-serif;
  color:  rgb(32, 165, 72);
  font-size: 50px;

}
.left h1{
  font-family: 'Kalam', cursive;
  font-size: 5em;
}
.left p{
  font-family:  'Poppins', sans-serif;
  line-height: 2.5rem;
  
}
#hire{
  text-decoration: none;
  background: rgb(32, 165, 72);
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1.5rem;
  margin: 0  1rem;
}
#myp{
  text-decoration: none;
  color: white;
  border-radius: 8px;
  font-size: 1.5rem;
  margin: 0  1rem;
  border: 1px dashed white;
  padding: 1rem 2rem;
  margin: 0 1rem;
}
#bio{
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('img15.jpeg');
          /* background-size: cover; */
          color: white;
}
#bio{
   cursor: pointer;
   padding: 150px 70px;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
   font-family:  'Poppins', sans-serif;
}
.leftbio{
    flex-basis: 40%;
}
.rightbio{
  flex-basis: 60%;

}
.leftbio img{
        width: 90%;
        height: 700px;
        border-radius: 8px;
}
.rightbio{
  text-align: left;
  padding: 0 40px;
}
.rightbio p{
  text-align: right;
  margin: 15px 0;
  line-height: 4rem;
}
.rightbio h1{
  font-size: 7rem;
  font-family: 'Kalam', cursive;
  
}
.info{
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   flex-wrap: wrap;
   text-align: left;
   font-size: 1.5rem;
}
#follow {
  text-align:center;
  }
#follow i{
       color: rgb(32, 165, 72);
       font-size: 2.5rem;
       margin: 0 1.0;
}
.rightbio p2{
  font-size: 1.5rem;
       
}

